### Constraints:
Source code ~v2 implemented Abstract Factory class
which fetch the required document based on the
type of element you need from the list of objects.


Suppose
Vehicle Abstract Class are of two types...
Type 1: Standard Vehicle -> (Maruti, Hyundai)
Type 2: Business Vehicle -> (Audi, BMW)


